# Copy this file to .env and fill in real values. Do NOT commit .env

# Server
PORT=
URL_REACT=

DB_DIALECT=
DB_SSL=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_PORT=

DB_NAME_PROD=
PORT=
NODE_ENV=
URL_REACT=
MAX_NUMBER_SCHEDULE=
EMAIL_APP_PASSWORD=
EMAIL_APP=
JWT_SECRET=
JWT_REFRESH_SECRET=